.offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin: 25px;
}

.provider-offer-details p {
  text-align: left;
}

.provider-offer-details {
  margin-bottom: 20px;
}

.view-details {
  font-family: "Raleway", sans-serif;
  color: white;
  border-style: none;
  border-radius: 10px;
  height: 25px;
  width: 100px;
  margin-bottom: 15px;
  background-color: #694d72;
}
