.offer-details {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.offer-header {
  text-align: center;
}
.offer-details h2 {
  text-align: center;
}

.offer-details img {
  text-align: center;
}

.offer-details h3 {
  margin: 5px;
}

.offer-details h4 {
  margin-top: 20px;
  width: 100vw;
  text-align: center;
  font-size: 18px;
}

.backbtn {
  background-color: #694d72;
  color: white;
  border: none;
  border-radius: 5px;
  height: 25px;
  width: 100px;
}

.offer-info {
  display: flex;
  flex-wrap: wrap;
  width: 250px;
  justify-content: center;
  margin-top: 5px;
}

.offer-info p {
  font-size: 15px;
  margin: 1px;
}
