@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

.provider-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #82aba1;
}

.care-icon {
  height: 30px;
  width: auto;
  padding-top: 30px;
}

.add-new-offer {
  background-color: #694d72;
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
  border-style: none;
  border-radius: 10px;
  height: 45px;
  width: 170px;
  padding: 0 13px;
  margin-bottom: 15px;
  margin-top: 15px;
}

h3 {
  font-family: "Raleway", sans-serif;
  color: #331832;
}

.offers-panel-button {
  background-color: #694d72;
  color: white;
  font-family: "Raleway", sans-serif;
  border-style: none;
  border-radius: 10px;
  height: 30px;
  width: 120px;
  padding: 0 13px;
  margin-top: 15px;
}

.provider-hp-offers a {
  font-size: large;
  text-decoration: none;
  color:#331832;
}




