@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

.new-offer-form {
  font-family: "Raleway", sans-serif;
  background-color: white;
}

.new-offer-form label {
  color: #331832;
}

.new-offer-form input {
  border-radius: 5px;
  border-style: none;
  background-color: rgb(214, 214, 214);
  height: 30px;
  width: 250px;
}

.new-offer-button {
  font-family: "Raleway", sans-serif;
  color: white;
  border-style: none;
  border-radius: 10px;
  height: 30px;
  width: 100px;
  margin-top: 10px;

  background-color: #694d72;
}

.new-offer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
