.user-completed-offers {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-completed-offers h2 {
    color: #331832;
}

.user-completed-offers p {
    text-align: left;
}