.requested-offers {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-bottom: 150px;
}

.requested-offers button {
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #694d72;
  height: 30px;
  width: 120px;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}

/* .requested-offers h2 {
  font-size: 25px;
  margin-left: 20px;
} */

.ready-btn {
  width: 90px;
  height: 33px;
}

.requested-offers p {
  font-family: "Raleway", sans-serif;
  color: #331832;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 5px;
}

.top-button {
  margin-left: 20px;
  border-radius: 5px;
  color: white;
  border: none;
}