.homepage {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding-bottom: 300px;
}

.homepage h2 {
  margin-left: 10px;
  color: #331832;
  text-align: center;
}

.all-new-offers {
  margin-left: 10px;
  margin-bottom: 10px;
  background-color: #694d72;
  color: white;
  font-family: "Raleway", sans-serif;
  border-style: none;
  border-radius: 10px;
  height: 30px;
  width: 150px;
  padding: 0 13px;
  margin-top: 10px;
}

.homepage a {
  margin-left: 10px;
  margin-bottom: 10px;
  color: #331832;
}

.bowl-icon {
  height: 23px;
  width: auto;
  align-self: center;
}

.see-all-requests {
  margin-left: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #694d72;
  height: 30px;
  width: 120px;
  margin-top: 15px;
}
