.homepage {
  background-color: white;
}

.homepage h2 {
  margin-left: 10px;
}

.homepage button {
  margin-left: 10px;
  margin-bottom: 10px;
}

.homepage a {
  margin-left: 10px;
  margin-bottom: 10px;
  color: black;
}
