.pickup-form form {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.pickup-form label {
  font-size: 15px;
  margin-bottom: 2px;
}
.pickup-form input {
  width: 250px;
  height: 50px;
}

.pickup-form h5 {
  margin: 0;
}

hr {
  width: 250px;
  border: 1px solid #331832;
  margin-top: 35px;
}

.pickup-form button {
  border: none;
  color: white;
  background-color: #694d72;
  border-radius: 5px;
  width: 75px;
  height: 24px;
  align-self: center;
}
